- if params[:user_login]
  %p= params[:user_login]

%h1 Data Crunch

= form_tag datacrunches_showall_path, :method => "get" do  

  = search_field_tag :search, params[:search], placeholder: "Search", class: "form-control"
  = button_tag "search", :id => 'search_button', :name => nil

%table
  %thead
    %tr
      %th Title
      %th Descrption
      %th File_Name
      %th User
      %th Created_Time
      %th More Info
  %tbody
    - @datacrunches.each do |crunch|
      %tr
        %td= crunch.title
        %td= crunch.description
        %td= crunch.data_file_name
        %td= crunch.username
        %td= crunch.created_at
        %td= link_to "More about #{crunch.title}", datacrunch_path(crunch), :id => "crunch_#{crunch.id}"