%h1= link_to "Datacrunch", datacrunches_path 

%p#filename 
    File name: 
    %strong #{@datacrunch.data_file_name}
%p#title 
    File title: 
    %strong #{@datacrunch.title}
%p#description 
    File description: 
    %strong #{@datacrunch.description}

%div#histogram

%table
    - @data.each do |r|
        %tr
        - r.each do |c|
            %td= c