- if params[:user_login]
  %div.row
    %div.col-md-3
      %p= "Hello, " + params[:user_login]
    %div.col-md-3
      = form_tag datacrunches_path(params[:user_login] => nil), :method => 'get' do
        = submit_tag 'Log out', :class => 'btn btn-warning btn-sm', :id => 'logout'
%div.row
  %div.col-md-12 
    %h1= link_to "Data Crunch", datacrunches_path 

%div.row
  %div.col-md-6
    %p#filename 
      File name: 
      %strong #{@datacrunch.data_file_name}
    %p#title 
      File title: 
      %strong #{@datacrunch.title}

    %p#description 
      File description: 
      %strong #{@datacrunch.description}

    %p#filesize
      File size:
      %strong #{@dataSize} 

    %p#filedimensions
      Data dimensions:
      %strong #{@dataDimensions} 

    = link_to 'download', datacrunches_download_path(:id => @datacrunch.id)

////////////////////////////////////////
//MODAL TESTING
//////////////////////////////////////////
/ Button trigger modal
-# %button.btn.btn-primary{"data-target" => "#statsModal", "data-toggle" => "modal", :type => "button"} Launch demo modal
#statsModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "statsModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content





////////////////////////////////////////////////////////////


//TODO: fix more dimension buttons to fade out after max cols/rows reached
%div.row
  %div.col.text-right
    %h3= button_to 'More columns', datacrunch_path(@datacrunch, :cols => flash[:cols]+10, :rows => flash[:rows]), :method => :get, :class => 'btn btn-primary'
  
%table.table
  %tr
    - @display_dataframe.vectors.each  do |col| #displays the column names
      %td.colname= link_to col, datacrunches_colstats_path(:colname => col, :id => @datacrunch.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => "#statsModal"}
    - @display_dataframe.each(axis = :row) do |r| #displays the dataframe contents
      %tr
        - r.each do |c| 
          %td= c

%div.row
  %div.col-md-6
    %h3= button_to 'More rows', datacrunch_path(@datacrunch, :cols => flash[:cols], :rows => flash[:rows]+10), :method => :get, :class => 'btn btn-primary'
