%h1= link_to "Datacrunch", datacrunches_path 

%p#filename 
    File name: 
    %strong #{@datacrunch.data_file_name}
%p#title 
    File title: 
    %strong #{@datacrunch.title}
%p#description 
    File description: 
    %strong #{@datacrunch.description}
%p#filesize
    File size:
    %strong #{@dataSize} 
%p#filedimensions
    Data dimensions:
    %strong #{@dataDimensions} 

//TODO: fix more dimension buttons to fade out after max cols/rows reached
%h3= link_to 'More columns', datacrunch_path(@datacrunch, :cols => flash[:cols]+10, :rows => flash[:rows]), :method => :get, :class => 'btn btn-primary'
%h3= link_to 'More rows', datacrunch_path(@datacrunch, :cols => flash[:cols], :rows => flash[:rows]+10), :method => :get, :class => 'btn btn-primary'

%table
    - @dataframe.dataframe.each(axis = :row) do |r|
        %tr
        - r.each do |c| 
            %td= c